.mobile_header_outer {
    position: fixed;
    top: 200px;
    left: 240px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    z-index: 50 !important;
  }
 
  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: background-color 1s ease-out;
    position: relative;

  }
  #toggle-menu {
    background-color: #fff; 
    color: #333; 
    border: none;
    border-radius: 50%; 
    height: 70px;
    width: 70px;
    padding: 10px;
    cursor: pointer;
    font-size: 12pt;
    font-weight: 500;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
    transition: background-color 2s ease-out, transform 2s ease-out; 
  }

  #toggle-menu.open {
    height: 10px;
    width: 10px;
    background-color: #dfdfdf; 
    transform: scale(1); 
    margin-top: -100px;
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0); 
  }
  #toggle-menu.shrink {
    height: 30px; 
    width: 30px; 
    font-size: 5pt;
    transition: height 0.5s ease-out, width 0.5s ease-out;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  
  
  
  #mobile-menu {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
  }
  
  #mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #mobile-menu ul li {
    text-align: center;
  }
  
  #mobile-menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  
  .menu-container.open {
    background-color: #333; 
    border-radius: 20px;
  }
  
  .menu-container.open #mobile-menu {
    max-height: 200px; /* Adjust the max height based on your content */
  }
  